In [11]:
a  = 500
price = 850
if price <= 500:
    print("yes i will be able to buy")

In [4]:
price <=500

True

In [10]:
850<=500

False

In [16]:
a  = 500
shirt_price = 200
pant_price = 500
coat_price = 800

if True:
    print("this is a testing block")

if coat_price <= a :
    print("i will try to buy coat")
elif pant_price < 500 :
    print("i will try to buy pant")
elif shirt_price < 500 :
    print("i will try to buy shirt")
else :
    print("i wont be able to buy")

this is a testing block
i will try to buy shirt

In [15]:
500<500

False

In [23]:
a  = 500
shirt_price = 200
pant_price = 500
coat_price = 800
my_size  = 'M'
size_store = ['L' , 'XL','S','XXL','XXXL','M']
my_fav_clr = 'white'
store_clr = ['white' , 'red' , 'blue','orange']

if coat_price <= a :
    print("i will try to buy coat")
elif pant_price < 500 :
    print("i will try to buy pant")
elif shirt_price < 500 :
    print("yes its avaible under my budget")
    if my_size in size_store:
        print("i will try to buy shirt")
        if my_fav_clr in store_clr:
            print("yes i will try to choose it ")           
        else :
            print("my fav clr is not available i will move to another store")     
    else :
        print("my size is not avaialble")
else :
    print("i wont be able to buy")

yes its avaible under my budget
i will try to buy shirt

In [18]:
my_size == size_store

False

In [20]:
'M' in size_store

False

In [25]:
course = ['DSM', 'DSA','java' , 'big data' , 'DA']
price = 20000
mentor = "sudhanshu kumar"
if 'DSM' in course  and price == 1000 and "sudhanshu kumar" == mentor:
    print("yes i am doing this course ")

In [26]:
course_price = 20000

if 10000<= course_price <=15000:
    print("i will try to buy a course")
    
else :
    print("its out of my budget")

its out of my budget

In [27]:
10000<= course_price <=15000

False

In [34]:
user_name = "sudh"
password = "sudh@1234"

if user_name == input("enter your username") and  password == input("enter your password"):
    print("you have loged in succefully ")
else:
    print("enter correct username and password ")

enter your username ffasdfsfasf
enter your password sudh@1234

you have loged in succefully

In [37]:
mobile_no = 123456
otp = 1234
if mobile_no == int(input("enter your registered mo no")):
    print("yes you are a registered user")
    if otp == int(input("enter otp that we have sent on your mo no")):
        print("you have logged in succefully")
    else :
        print("otp is not correct please try to enter again")
else :
    print("you have not entered a valid mo no")

enter your registered mo no 123456

yes you are a registered user

enter otp that we have sent on your mo no 1234

you have logged in succefully

In [38]:
mobile_no = {2343243,3543534,45654646,23432,345345,345343}
otp = 1234
if int(input("enter your registered mo no")) in mobile_no:
    print("yes you are a registered user")
    if otp == int(input("enter otp that we have sent on your mo no")):
        print("you have logged in succefully")
    else :
        print("otp is not correct please try to enter again")
else :
    print("you have not entered a valid mo no")

enter your registered mo no 23432

yes you are a registered user

enter otp that we have sent on your mo no 1234

you have logged in succefully

In [44]:
l= [12,3,3,4,5,6,6]
mobile_no = [2343243,3543534,45654646,23432,345345,345343]
stud_mo = 23432
stud_details = {'mobile_no' : 23432 ,'course' : ['dsa' , 'dsm' , 'big data']}

for i in mobile_no:
    print(i)
    if i == stud_mo:
        print("yes user is registered")
        if i == stud_details['mobile_no']:
            print("yes student details are avaible in DB ")
            print("course accessed to this user is " , stud_details['course'])

2343243
3543534
45654646
23432
yes user is registered
yes student details are avaible in DB
course accessed to this user is  ['dsa', 'dsm', 'big data']
345345
345343

In [48]:
t = (12,3,4,5,56, "sudh","kumar",345.565)
l_int = []
l_str = []
for i in t :
    if type(i) == str :
        l_str.append(i)
    elif type(i) == int:
        l_int.append(i)

In [49]:
l_int

[12, 3, 4, 5, 56]

In [50]:
l_str

['sudh', 'kumar']

In [51]:
s = {3,4,5,56,76,7,7,8,8}

In [52]:
s

{3, 4, 5, 7, 8, 56, 76}

In [53]:
for i in s :
    print(i)

3
4
5
7
8
56
76

In [61]:
d = {"name":"sudh" , 'class' :["big data" , "data analytics","data science " , "DSA" , "architecture", "system design"],
'mobile no' : 345353453, "email_id":'sskumari787y@gmail.com'}

In [55]:
d

{'name': 'sudh',
 'class': ['big data',
  'data analytics',
  'data science ',
  'DSA',
  'architecture',
  'system design'],
 'mobile no': 345353453,
 'email_id': 'sskumari787y@gmail.com'}

In [56]:
d.values()

dict_values(['sudh', ['big data', 'data analytics', 'data science ', 'DSA', 'architecture', 'system design'], 345353453, 'sskumari787y@gmail.com'])

In [62]:
for i in d.values():
    if type(i) == list and 'system design' in i :
            print("yes this mentor teach system design")

yes this mentor teach system design

In [60]:
for i in d.values():
    if type(i) == list:
        for j in i :
            print(j)

big data
data analytics
data science
DSA
architecture
system design