In [1]:
1+2

3

In [2]:
a = 10 
b = 20
c = 50

In [3]:
s = "sudh"

In [14]:
class bankaccount :
    
    def openaccount(self,name , email_id) :
        print("open an account by taking name and mail id ")
        return name+email_id
    
    def deposite(self,amount):
        print("i am trying to tdeposite an amount in my account")
        
    def whithdraw(self,amt_with):
        print("withdraw the amount")
    
    def update_details(self, name_update , emaid_update):
        print("this function will update my name and mail if for account")

In [16]:
sudh = bankaccount()

In [17]:
sudh.openaccount("sudhanshu","sudhanshu@gmail.com")

open an account by taking name and mail id

'sudhanshusudhanshu@gmail.com'

In [8]:
def openaccount(name , email_id) :
        print("open an account by taking name and mail id ")
        return name+email_id

In [9]:
openaccount("sudh" ,"sudh@gmail.com")

open an account by taking name and mail id

'sudhsudh@gmail.com'

In [10]:
deposite(34345)

NameError: name 'deposite' is not defined

In [92]:
class list_ops:
    #a= 10
    #l = [4,5,7,7,8,9,9]
    def __init__(sudh,l):
        sudh.l1 = l 
        sudh.l2 = 40
        sudh.l3 = "sudh"
        sudh.l4 = (4,5,6,6,7,8)
        sudh.l5 = {"key":"value"}
        
    def exractfromindex(sudh, index):
        return sudh.l1[index]
    
    def extractrangedata(sudh,l,start,end):
        return l[start:end]
    
    def extracteven(sudh,l):
        l1= []
        for i in l :
            if i%2 == 0 :
                l1.append(i)
        return l1

In [96]:
second_obj = list_ops([3,4,5,6,7,8])
second_obj.exractfromindex(4)

7

In [94]:
third_obj= list_ops()

TypeError: list_ops.__init__() missing 1 required positional argument: 'l'

In [35]:
first_obj = list_ops()
first_obj.exractfromindex(first_obj.l , 4)

8

In [31]:
first_obj.a

10

In [34]:
first_obj.l

[4, 5, 7, 7, 8, 9, 9]

In [25]:
first_obj.extractrangedata([2,34,5,6,7,8] , 0 , 4)

[2, 34, 5, 6]

In [26]:
first_obj.extracteven([4,5,6,4,5,56,67,7])

[4, 6, 4, 56]

In [18]:
l = [4,5,6,7,7]
l[3]

7

In [52]:
class book:
    
    def __init__(self, name , title,pageno) :
        self.name_of_book = name
        self.title_of_book = title
        self.page_no = pageno
        
    def extract_details(self ):
        print(self.name_of_book , self.title_of_book)
        
    def print_page_no(self):
        print(self.page_no)

In [61]:
sudhanshu.name_of_book

'dsa'

In [55]:
sudhanshu = book('dsa' , 'practical dsa',456)
ronik = book('data science', 'emplementation of data science ' , 345)
wasim = book('big data' , 'invention with big data' , 434)

In [56]:
sudhanshu.extract_details()

dsa practical dsa

In [57]:
ronik.extract_details()

data science emplementation of data science

In [58]:
wasim.extract_details()

big data invention with big data

In [60]:
a = 10
b= 60
c= 40

In [62]:
class book:
    
    def __init__(self) :
        self.name_of_book = "dsa"
        self.title_of_book = 'dsa advance'
        self.page_no = 5646
        
    def extract_details(self ):
        print(self.name_of_book , self.title_of_book)
        
    def print_page_no(self):
        print(self.page_no)

In [63]:
student1 = book()

In [64]:
student1.name_of_book

'dsa'

In [65]:
stud2 = book()
stud2.name_of_book

'dsa'

In [66]:
class gmail_ops:
    def __init__(self,userid,password):
        self.userid = userid
        self.passwod = password 
        self.url = "https://mail.google.com/mail/u/1/#inbox"
        
    def login(self) :
        print("take userid" + self.userid + "take password" + self.passwod + "hit url" + self.url)
        print("login")
        
    def read_mail(self):
        print("read mail for" + self.userid + "  " + self.passwod)
        
    def reply_mail(self) : 
        print("reply  mail for" + self.userid + "  " + self.passwod)

In [68]:
user1 = gmail_ops("user1" , "user1pass")
user1.login()

take useriduser1take passworduser1passhit urlhttps://mail.google.com/mail/u/1/#inbox
login

In [69]:
user2 = gmail_ops("user2" , "user2pass")
user2.login()

take useriduser2take passworduser2passhit urlhttps://mail.google.com/mail/u/1/#inbox
login

In [80]:
from functools import reduce
class calculator :
    
    def __init__(self,username):
        self.username= username
    
    def add(self, *args):
        return self.username , sum(args)
    
    def subtraction(self, *args):
        return self.username , reduce(lambda a,b : a-b , args)
    
    def mul(self, *args):
        return self.username , reduce(lambda a,b : a*b , args)
    
    def div(self , * args):
         return self.username , reduce(lambda a,b : a/b , args)

In [83]:
himanshu = calculator("chulbul pandey")

In [89]:
himanshu.add(3,4,5,4,7,8)

('chulbul pandey', 31)

In [85]:
himanshu.mul(4,5,6)

('chulbul pandey', 120)

In [86]:
himanshu.subtraction(3,4,5,6)

('chulbul pandey', -12)

In [87]:
himanshu.div(3,4,6,6)

('chulbul pandey', 0.020833333333333332)

In [78]:
karan = calculator()

In [79]:
karan.add(3,4,5,5)

17

In [100]:
try:
    age = int(input("Enter your age"))
    if age < 0:
        raise ValueError("user has entered the neagtive age which is not valid")
    elif age < 18:
        raise ValueError("User is underage")
    else:
        print("Valid user")
except ValueError as e :
    print(e)
    print("something")

Enter your age -3453

user has entered the neagtive age which is not valid
something