In [ ]:
#pip install bokeh

In [1]:
import bokeh.io
import bokeh.plotting
bokeh.io.output_notebook #print the graph in the notebook

<function bokeh.io.output.output_notebook(resources: 'Resources | None' = None, verbose: 'bool' = False, hide_banner: 'bool' = False, load_timeout: 'int' = 5000, notebook_type: 'NotebookType' = 'jupyter') -> 'None'>

In [2]:
from bokeh.plotting import figure, output_file, show
from bokeh.sampledata.iris import flowers

In [3]:
flowers

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [8]:
output_file('test.html')
p = figure(title = 'flower test')
p.xaxis.axis_label = "petal_length"
p.yaxis.axis_label = "petal_width"
p.circle(flowers['petal_length'], flowers['petal_width'])
show(p)

In [9]:
output_file('test.html')
p = figure(title = 'flower test')
p.xaxis.axis_label = "petal_length"
p.yaxis.axis_label = "petal_width"
p.line(flowers['petal_length'], flowers['petal_width'])
show(p)

In [12]:
output_file('test1.html')
x=[1, 2, 3, 4, 5]
y=[4, 5, 6, 7, 8]

p.line(x, y)
show(p)