Step 1: Install pymongo
Make sure you have pymongo installed. You can install it using pip:

In [ ]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.8.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.2/1.2 MB 6.2 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.6.1-py3-none-any.whl (307 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 307.7/307.7 kB 8.1 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.6.1 pymongo-4.8.0

Step 2: Import pymongo and Connect to MongoDB
You need to establish a connection to your MongoDB server. This can be a local server or a remote server such as MongoDB Atlas.

In [ ]:
from pymongo import MongoClient

# Connect to the MongoDB server
#client = MongoClient('mongodb://myuser:mypassword@127.0.0.1:27017/admin')
#client = MongoClient()
uri = "mongodb+srv://abcd:abcd@cluster0.yygu3ic.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
# Connect to MongoDB
client = MongoClient(uri)

# Check if connected successfully
print(client.list_database_names())

['newdatabase', 'sample_mflix', 'admin', 'local']

Step 2: Set Up MongoDB Atlas (Optional)
If you don't have a MongoDB server running locally and want to use a cloud-based solution like MongoDB Atlas:

Sign up/Login to MongoDB Atlas: Go to MongoDB Atlas and sign up or log in.

Create a Cluster: Create a new cluster (you can choose the free tier if you're just experimenting).

Whitelist IP Address: Add your current IP address to the IP whitelist in MongoDB Atlas to allow connections.

Create a MongoDB User: Create a new MongoDB user with appropriate privileges for your database.

Step 1: Sign Up or Log In to MongoDB Atlas
Go to MongoDB Atlas: Navigate to MongoDB Atlas.
Sign Up / Log In: If you don’t have an account, sign up. If you do, log in.
Step 2: Create a New Cluster
Create a New Project:

Once logged in, click on New Project to create a new project. Give it a name and click Create Project.
Build a Cluster:

Click on Build a Cluster. You'll be guided through a series of steps to set up your cluster.
Cluster Tier: Select the cluster tier. For testing and development, the free tier (M0) is sufficient.
Cloud Provider & Region: Choose your preferred cloud provider (AWS, Azure, GCP) and region.
Cluster Name: Optionally, you can name your cluster. If not, it will default to "Cluster0".
Create Cluster: Click on Create Cluster. It might take a few minutes for your cluster to be provisioned.

Step 3: Set Up Network Access
IP Whitelisting:

After your cluster is created, you'll need to set up network access. Click on Network Access on the left sidebar.
Click on Add IP Address.
Allow Access from Anywhere: For development purposes, you can allow access from anywhere by clicking Allow Access from Anywhere. This will add 0.0.0.0/0 to the IP whitelist.
Specific IP Address: For more security, add your specific IP address. You can find your IP address by searching "What is my IP" on Google.
Add IP Address:
Once you've decided on the IP addresses to whitelist, click Confirm.
Step 4: Create a Database User
Database Access:

Click on Database Access on the left sidebar.
Click on Add New Database User.
Create a User:

Authentication Method: Choose the authentication method (default is password).
Username: Enter a username.
Password: Enter a password (you can auto-generate one if you prefer).
Database User Privileges: Choose the privileges. For full access, choose Atlas Admin.
Add User: Click Add User.

Step 5: Connect to Your Cluster
Connect:

Go back to your cluster view by clicking on Clusters on the left sidebar.
Click on Connect for your cluster.
Connection Method:

Connect Your Application: Select this if you want to connect via an application (like Python).
MongoDB Shell: Select this if you want to connect using the MongoDB shell.
Connection String:

For Connect Your Application, select your driver (e.g., Python) and version.
MongoDB Atlas will provide you with a connection string. It will look something like this:
bash
Copy code
mongodb+srv://<username>:<password>@cluster0.mongodb.net/mydatabase?retryWrites=true&w=majority
Replace <username> and <password> with the credentials you created earlier. Replace mydatabase with your database name.

Step 3: Create a New Database and Collection
MongoDB will create the database and collection if they do not exist when you first insert data.

In [ ]:
# Create (or switch to) a new database
db = client['demodb']

# Create (or switch to) a new collection
collection = db['democollection']

Step 4: Insert Values into the Collection
Insert a document (record) into the collection.

In [ ]:
# Sample document to insert
document = {
    "name": "Alice",
    "email": "alice@example.com",
    "age": 30,
    "address": {
        "street": "456 Maple St",
        "city": "Somewhere",
        "state": "CA",
        "zip": "67890"
    },
    "hobbies": ["painting", "cycling"]
}

# Insert the document into the collection
insert_result = collection.insert_one(document)
print(f'Inserted document ID: {insert_result.inserted_id}')

Inserted document ID: 6693bf33a4c1dcc2670e6188

Step 5: Find and Query Documents
Find All Documents

In [ ]:
# Find all documents in the collection
all_documents = collection.find()
for doc in all_documents:
    print(doc)

{'_id': ObjectId('6693bf33a4c1dcc2670e6188'), 'name': 'Alice', 'email': 'alice@example.com', 'age': 30, 'address': {'street': '456 Maple St', 'city': 'Somewhere', 'state': 'CA', 'zip': '67890'}, 'hobbies': ['painting', 'cycling']}

Query with a Filter

In [ ]:
# Query documents with a filter (e.g., age > 25)
filtered_documents = collection.find({"age": {"$gt": 25}})
for doc in filtered_documents:
    print(doc)

{'_id': ObjectId('669386381fdbac7c5771dea0'), 'name': 'Alice', 'email': 'alice@example.com', 'age': 30, 'address': {'street': '456 Maple St', 'city': 'Somewhere', 'state': 'CA', 'zip': '67890'}, 'hobbies': ['painting', 'cycling']}

Step 6: Sort Documents
Sort documents by a field, e.g., age in descending order.

In [ ]:
# Sort documents by age in descending order
sorted_documents = collection.find().sort("age", -1)
for doc in sorted_documents:
    print(doc)

{'_id': ObjectId('669386381fdbac7c5771dea0'), 'name': 'Alice', 'email': 'alice@example.com', 'age': 30, 'address': {'street': '456 Maple St', 'city': 'Somewhere', 'state': 'CA', 'zip': '67890'}, 'hobbies': ['painting', 'cycling']}

Step 7: Limit the Number of Documents
Limit the number of documents returned by a query.

In [ ]:
# Limit the number of documents to 2
limited_documents = collection.find().limit(2)
for doc in limited_documents:
    print(doc)

{'_id': ObjectId('669386381fdbac7c5771dea0'), 'name': 'Alice', 'email': 'alice@example.com', 'age': 30, 'address': {'street': '456 Maple St', 'city': 'Somewhere', 'state': 'CA', 'zip': '67890'}, 'hobbies': ['painting', 'cycling']}

Step 8: Update Documents
Update One Document

In [ ]:
# Update one document (e.g., change Alice's age to 31)
update_result = collection.update_one({"name": "Alice"}, {"$set": {"age": 31}})
print(f'Matched {update_result.matched_count} document(s) and modified {update_result.modified_count} document(s).')

Matched 1 document(s) and modified 1 document(s).

In [ ]:
# Update multiple documents (e.g., set "verified" field to True for all users older than 25)
update_many_result = collection.update_many({"age": {"$gt": 25}}, {"$set": {"verified": True}})
print(f'Matched {update_many_result.matched_count} document(s) and modified {update_many_result.modified_count} document(s).')

Matched 1 document(s) and modified 1 document(s).

Update Multiple Documents

Step 9:Deletion

In [ ]:
# Delete one document (e.g., remove Alice's document)
delete_result = collection.delete_one({"name": "Alice"})
print(f'Deleted {delete_result.deleted_count} document(s).')

Deleted 1 document(s).

In [ ]:
# Delete multiple documents (e.g., remove all users older than 30)
delete_many_result = collection.delete_many({"age": {"$gt": 30}})
print(f'Deleted {delete_many_result.deleted_count} document(s).')

Deleted 0 document(s).

To connect to a SQL database using Python, you typically use libraries like sqlite3, psycopg2 (for PostgreSQL), or mysql-connector-python (for MySQL). Here’s a basic example using SQLite:

Using sqlite3 with SQLite
If you want to connect to an SQLite database (example.db), here's how you can do it:

Example Python Code for MySQL Queries
Here's an example that connects to a local MySQL database, creates a table, inserts data, and performs basic queries:

In [ ]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.0.0-cp310-cp310-manylinux_2_17_x86_64.whl (19.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 19.3/19.3 MB 53.8 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.0.0

In [ ]:
import mysql.connector

# Connect to MySQL database
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="password",
    database="mysql"
)

# Create a cursor object
cursor = conn.cursor()

# Create a table (if not exists)
cursor.execute('''CREATE TABLE IF NOT EXISTS users (
                    id INT AUTO_INCREMENT PRIMARY KEY,
                    username VARCHAR(50) NOT NULL,
                    email VARCHAR(100) NOT NULL
                )''')

# Insert some data
sql_insert = "INSERT INTO users (username, email) VALUES (%s, %s)"
values = ("Alice", "alice@example.com")
cursor.execute(sql_insert, values)

# Insert multiple rows
multi_values = [
    ("Bob", "bob@example.com"),
    ("Charlie", "charlie@example.com")
]
cursor.executemany(sql_insert, multi_values)

# Commit changes to the database
conn.commit()

# Selecting data
cursor.execute("SELECT * FROM users")
rows = cursor.fetchall()

print("All users:")
for row in rows:
    print(row)

# Update data
sql_update = "UPDATE users SET email = %s WHERE username = %s"
update_values = ("charlie_updated@example.com", "Charlie")
cursor.execute(sql_update, update_values)
conn.commit()

# Delete data
sql_delete = "DELETE FROM users WHERE username = %s"
delete_username = ("Alice",)
cursor.execute(sql_delete, delete_username)
conn.commit()

# Close cursor and connection
cursor.close()
conn.close()

DatabaseError: 2003 (HY000): Can't connect to MySQL server on 'localhost:3306' (99)

HLD:  tools, libraries, frontend, backend, db server along with end users



hardware req
software req
data requ
libraries

overview how system looks like


LLD: unit test cases, flow diagram at deeper level


Architecture diagram:

Project report:

Demo

snapshots -  wireframe