Step 1: Install pymongo
Make sure you have pymongo installed. You can install it using pip:

In [2]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.8.0-cp311-cp311-win_amd64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.6.1-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.8.0-cp311-cp311-win_amd64.whl (630 kB)
   ---------------------------------------- 0.0/631.0 kB ? eta -:--:--
   - -------------------------------------- 30.7/631.0 kB 1.4 MB/s eta 0:00:01
   ------------------------- -------------- 409.6/631.0 kB 5.1 MB/s eta 0:00:01
   ---------------------------------------- 631.0/631.0 kB 5.7 MB/s eta 0:00:00
Downloading dnspython-2.6.1-py3-none-any.whl (307 kB)
   ---------------------------------------- 0.0/307.7 kB ? eta -:--:--
   -------------- ------------------------- 112.6/307.7 kB 6.4 MB/s eta 0:00:01
   ---------------------------------------- 307.7/307.7 kB 6.3 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.6.1 pymongo-4.8.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.3.1 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Step 2: Import pymongo and Connect to MongoDB
You need to establish a connection to your MongoDB server. This can be a local server or a remote server such as MongoDB Atlas.

In [3]:
from pymongo import MongoClient

# Connect to the MongoDB server
#client = MongoClient('mongodb://myuser:mypassword@127.0.0.1:27017/admin')
#client = MongoClient()
uri = 'mongodb://localhost:27017/'  # Replace with your MongoDB server URI

# Connect to MongoDB
client = MongoClient(uri)

# Check if connected successfully
print(client.list_database_names())

['admin', 'config', 'local']

Step 2: Set Up MongoDB Atlas (Optional)
If you don't have a MongoDB server running locally and want to use a cloud-based solution like MongoDB Atlas:

Sign up/Login to MongoDB Atlas: Go to MongoDB Atlas and sign up or log in.

Create a Cluster: Create a new cluster (you can choose the free tier if you're just experimenting).

Whitelist IP Address: Add your current IP address to the IP whitelist in MongoDB Atlas to allow connections.

Create a MongoDB User: Create a new MongoDB user with appropriate privileges for your database.

Step 3: Create a New Database and Collection
MongoDB will create the database and collection if they do not exist when you first insert data.

In [4]:
# Create (or switch to) a new database
db = client['newdatabase']

# Create (or switch to) a new collection
collection = db['newcollection']

Step 4: Insert Values into the Collection
Insert a document (record) into the collection.

In [5]:
# Sample document to insert
document = {
    "name": "Alice",
    "email": "alice@example.com",
    "age": 30,
    "address": {
        "street": "456 Maple St",
        "city": "Somewhere",
        "state": "CA",
        "zip": "67890"
    },
    "hobbies": ["painting", "cycling"]
}

# Insert the document into the collection
insert_result = collection.insert_one(document)
print(f'Inserted document ID: {insert_result.inserted_id}')

Inserted document ID: 66938bb1641689e4f0641b36

Step 5: Find and Query Documents
Find All Documents

In [6]:
# Find all documents in the collection
all_documents = collection.find()
for doc in all_documents:
    print(doc)

{'_id': ObjectId('66938bb1641689e4f0641b36'), 'name': 'Alice', 'email': 'alice@example.com', 'age': 30, 'address': {'street': '456 Maple St', 'city': 'Somewhere', 'state': 'CA', 'zip': '67890'}, 'hobbies': ['painting', 'cycling']}

Query with a Filter

In [ ]:
# Query documents with a filter (e.g., age > 25)
filtered_documents = collection.find({"age": {"$gt": 25}})
for doc in filtered_documents:
    print(doc)

{'_id': ObjectId('669386381fdbac7c5771dea0'), 'name': 'Alice', 'email': 'alice@example.com', 'age': 30, 'address': {'street': '456 Maple St', 'city': 'Somewhere', 'state': 'CA', 'zip': '67890'}, 'hobbies': ['painting', 'cycling']}

Step 6: Sort Documents
Sort documents by a field, e.g., age in descending order.

In [ ]:
# Sort documents by age in descending order
sorted_documents = collection.find().sort("age", -1)
for doc in sorted_documents:
    print(doc)

{'_id': ObjectId('669386381fdbac7c5771dea0'), 'name': 'Alice', 'email': 'alice@example.com', 'age': 30, 'address': {'street': '456 Maple St', 'city': 'Somewhere', 'state': 'CA', 'zip': '67890'}, 'hobbies': ['painting', 'cycling']}

Step 7: Limit the Number of Documents
Limit the number of documents returned by a query.

In [ ]:
# Limit the number of documents to 2
limited_documents = collection.find().limit(2)
for doc in limited_documents:
    print(doc)

{'_id': ObjectId('669386381fdbac7c5771dea0'), 'name': 'Alice', 'email': 'alice@example.com', 'age': 30, 'address': {'street': '456 Maple St', 'city': 'Somewhere', 'state': 'CA', 'zip': '67890'}, 'hobbies': ['painting', 'cycling']}

Step 8: Update Documents
Update One Document

In [ ]:
# Update one document (e.g., change Alice's age to 31)
update_result = collection.update_one({"name": "Alice"}, {"$set": {"age": 31}})
print(f'Matched {update_result.matched_count} document(s) and modified {update_result.modified_count} document(s).')

Matched 1 document(s) and modified 1 document(s).

In [ ]:
# Update multiple documents (e.g., set "verified" field to True for all users older than 25)
update_many_result = collection.update_many({"age": {"$gt": 25}}, {"$set": {"verified": True}})
print(f'Matched {update_many_result.matched_count} document(s) and modified {update_many_result.modified_count} document(s).')

Matched 1 document(s) and modified 1 document(s).

Update Multiple Documents

Step 9:Deletion

In [ ]:
# Delete one document (e.g., remove Alice's document)
delete_result = collection.delete_one({"name": "Alice"})
print(f'Deleted {delete_result.deleted_count} document(s).')

Deleted 1 document(s).

In [ ]:
# Delete multiple documents (e.g., remove all users older than 30)
delete_many_result = collection.delete_many({"age": {"$gt": 30}})
print(f'Deleted {delete_many_result.deleted_count} document(s).')

Deleted 0 document(s).

To connect to a SQL database using Python, you typically use libraries like sqlite3, psycopg2 (for PostgreSQL), or mysql-connector-python (for MySQL). Here’s a basic example using SQLite:

Using sqlite3 with SQLite
If you want to connect to an SQLite database (example.db), here's how you can do it:

Example Python Code for MySQL Queries
Here's an example that connects to a local MySQL database, creates a table, inserts data, and performs basic queries:

In [ ]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.0.0-cp310-cp310-manylinux_2_17_x86_64.whl (19.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 19.3/19.3 MB 34.5 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.0.0

In [ ]:
import mysql.connector

# Connect to MySQL database
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="password",
    database="mysql"
)

# Create a cursor object
cursor = conn.cursor()

# Create a table (if not exists)
cursor.execute('''CREATE TABLE IF NOT EXISTS users (
                    id INT AUTO_INCREMENT PRIMARY KEY,
                    username VARCHAR(50) NOT NULL,
                    email VARCHAR(100) NOT NULL
                )''')

# Insert some data
sql_insert = "INSERT INTO users (username, email) VALUES (%s, %s)"
values = ("Alice", "alice@example.com")
cursor.execute(sql_insert, values)

# Insert multiple rows
multi_values = [
    ("Bob", "bob@example.com"),
    ("Charlie", "charlie@example.com")
]
cursor.executemany(sql_insert, multi_values)

# Commit changes to the database
conn.commit()

# Selecting data
cursor.execute("SELECT * FROM users")
rows = cursor.fetchall()

print("All users:")
for row in rows:
    print(row)

# Update data
sql_update = "UPDATE users SET email = %s WHERE username = %s"
update_values = ("charlie_updated@example.com", "Charlie")
cursor.execute(sql_update, update_values)
conn.commit()

# Delete data
sql_delete = "DELETE FROM users WHERE username = %s"
delete_username = ("Alice",)
cursor.execute(sql_delete, delete_username)
conn.commit()

# Close cursor and connection
cursor.close()
conn.close()

DatabaseError: 2003 (HY000): Can't connect to MySQL server on 'localhost:3306' (99)